.container{
    background-color: #ccdcdf;
    width: 800px;
    height: 600px;
    margin: 10vh auto;
    font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
}
#menu{
    background-color: #e8eff1; 
    width: 700px;
    height: 300px;
    margin: 20% auto;
    margin-top: -10%;
}
p{
    margin: -2px;
   
}
#paragraph{
    
    padding: 100px;
    padding-left: 60px;
}
#sub{
    background-color: white; 
    width: 250px;
    height: 500px;
    margin: 20% auto;
    margin-top: -570px;
    margin-right: 100px; 
}
#card{
    background-color: #e8eff1;
    height: 60px;
    width: 250px;
    color: #76a2a8;
    padding-top: 50px;
    text-align: center;
    font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
}
#purchase{
    background-color: #8db1b6;
    width: 250px;
    height: 60px;
    margin-top: -250px;
    margin-left: 450px;
    color: white;
    padding-top: 40px;
    letter-spacing: 7px;
    font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
}
img{
    padding-top: 59px;
}
#amount{
    margin-top: -115px;
    margin-left: 60px;
    font-size: 8px;
    color: #86acb1;
}
#shipping{
    margin-left: 60px;
    margin-top: -30px;
}
/* #total{
    margin-left: 310px;
    margin-top: -40px;
} */
#sub p{
    color: #86acb1;
    
}
#cards{
    margin-left: 17px;
    width: 200px;
    height: 28px;
    background-color: #e8eff1;
    border: none;
}
#dates input{
    border-bottom: 1px solid black;
    border: none;
    width: 37px;
    margin-left: 20px;
}
::placeholder {
    color: #b0aaab;
}
#sub img{
    width: 25px;
    height: 12px;
}
#visa{
    margin-top: -50px;
}
#name input{
    border: none;
    border-bottom: 2px solid #e8eff1;
    margin-left: 17px;
    width: 200px; 
}
#sub p{
    font-size: 8px;
    margin-top: 3px; 
}
#card p{
    font-size: 17px;
    color: #76a2a8;
    
}
form{
    margin-top: 8px;
}
#code img{
    width: 11px;
    height: 10px;
    color: #8db1b6;
}
sup{
    font-size: 8px;
}
#para{
    font-size: 10px;
}
span{
    color: #e8eff1;
}
.dot {
    height: 5px;
    width: 5px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #827376;
  }
 
 .circle {
     margin-left: 20px;
  }
  .circle2{
      margin-left: 36px;
      margin-top: -19px;
  }
  .circle3{
      margin-left: 51px;
      margin-top: -19px;
  }
#line{
    height: 10px;
}  
